h2{
  /*color:#ff6600;*/
  color:rgb(255,0,255);
}
#ced {
  color:#33b5e5;
}
.contenido{
  background:#330033;
  padding: 10px;
  border-style: dotted #eeeeee;
  margin: 20px 10px 10px 10px;

}
p, .contenido {
  margin-left: 18px;
}
p .importante{
  font-size: 1em;
  color: #ff4444;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 10px;
}
.contenido.white {
  color:#000000;
  text-align: center;
}
.contenido.blue {
  color:#0000ff;
}
.contenidor {
  width: 300px;
  height: 300px;
  background: #888888;
}
.contenedor div {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  color: white;
}
.contenido2{
  margin: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background: green;
  color:white;
}
.img-parrafo {
  float: left;
}
.boton {
  cursor: pointer;
  background: greenyellow;
  color: white;
  padding: 10px;
  border-radius: 5px;

}
.boton:hover {
  background: lightseagreen;
}
.boton:active {
  background: goldenrod;
}